:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 12px;

  color-scheme: light dark;
  color: rgb(210, 210, 210);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*
    z-index values:
      priority: 1
      toolbars: 2-4
      overlays: 5
  */
}
* {
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
}
/* a:hover {
} */

body {
  margin: 0;
  min-width: 320px;
  min-height: 100dvh;
  padding-top: 4.5rem;
}

button, .button {
  border-radius: 0.4rem;
  border: 0.1rem solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  /* font-weight: 500; */
  font-family: inherit;
  background-color: #202020;
  color: #fff;
  cursor: pointer;
  transition: border-color 0.2s ease, background-color 0.2s ease;
}
button:hover, .button:hover, input:hover {
  border-color: #5d5d5d !important;
  background-color: #242424;
}
button:focus,
button:focus-visible,
.button:focus,
.button:focus-visible,
input:focus,
input:focus-visible {
  outline: 0;
  border-color: #fff !important;
}
button:disabled,
button[disabled],
.button:disabled,
.button[disabled],
input:disabled,
input[disabled] {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
  border-color: rgb(40, 40, 40) !important;
}


#app {
  max-width: 100%;
  padding: 0rem 2rem;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */




/* Device details */

    .device-details {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
        margin-left: -0.5rem;
        margin-right: -0.5rem;
    }
    .device-details .separator {
        grid-column: span 2;
        height: 0.1rem;
        background-color: #363636;
        margin: 0.5rem 0;
    }
    .device-details .separator.margin {
        height: 0.8rem;
        background-color: transparent;
        border-radius: 0.4rem;
    }
    .device-details .detail-item {
        display: flex;
        gap: 0.5rem;
        flex-direction: column;
        padding: 0.8rem 1.5rem;
        border-radius: 0.4rem;
        transition: background-color 0.2s ease;
        position: relative;
    }
    .device-details .detail-item:hover {
        background-color: #323232;
    }
    .device-details .detail-item:has(.dropdown-wrapper), .detail-item:has(.edit-input:focus) {
        background-color: #3b3b3b !important;
    }
    .device-details .detail-item.wide {
        grid-column: span 2;
    }
    .device-details .detail-item.warning {
        background-color: rgba(190, 140, 70, 0.25);
    }
    .device-details .detail-item.error {
        background-color: rgba(190, 70, 70, 0.25);
    }
    .device-details .detail-item.offline {
        background-color: rgba(70, 70, 90, 0.25);
    }
        .device-details .detail-label {
            color: #aaa;
        }
        .device-details .detail-value {
            font-size: 1.25rem;
            font-weight: 500;
            color: #eee;
        }
        .detail-item.error-message {
            transform: translateY(-0.3rem);
        }
        .detail-item.error-message .detail-label {
            font-weight: 700;
        }
        .detail-item.error-message .detail-value {
            font-size: 1rem;
            font-weight: 400;
            margin-bottom: 0.2rem;
        }
    .detail-item .buttons-wrapper {
        position: absolute;
        top: 0rem;
        right: 0rem;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        padding-right: 0.5rem;
        opacity: 0;
        display: flex;
    }
    .detail-item:hover .buttons-wrapper {
        opacity: 1;
        pointer-events: all;
    }
    .detail-item .value-button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3rem;
        width: 3rem;
        background-color: inherit;
    }
    .detail-item .value-button:hover {
        color: #ddd;
        background-color: #6262621c;
    }
    .detail-item .value-button:focus,
    .detail-item .value-button:focus-visible {
        outline: 0;
        border-color: transparent !important;
        background-color: inherit;
    }
    .edit-input {
        outline: none;
        width: 100%;
        box-shadow: 0 1px 0 #464646;
    }
    .dropdown-wrapper {
        position: absolute;
        top: 2.3rem;
        left: 0;
        right: 0;
        z-index: 3;
    }
    .edit-dropdown {
        background-color: #3b3b3b;
        border-bottom-left-radius: 0.4rem;
        border-bottom-right-radius: 0.4rem;
        overflow: hidden;
        width: 100%;
    }
    .edit-dropdown .dropdown-option {
        position: relative;
        padding: 0.5rem 1rem;
        cursor: pointer;
        transition: background-color 0.15s;
        padding-bottom: 1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .dropdown-option .current-selection {
        margin-left: 1rem;
        color:#aaa;
        font-size:0.8rem;
        font-weight: 400;
    }
    .dropdown-option:not(:first-child) {
        padding-top: 1rem;
    }
    .dropdown-option:hover {
        background-color: #464646;
    }
    .detail-item .buttons-wrapper:has(.value-button.always-show) {
        opacity: 1;
    }
    .value-button:has(.fa-spinner) {
        cursor: default;
        pointer-events: none;
    }
    .value-button.always-show {
        opacity: 1;
    }
    .detail-item .buttons-wrapper:has(.value-button.always-show) .value-button:not(.always-show) {
        opacity: 0;
    }